In [ ]:
# actual programming

# 1. conditions 
# 2. loops
# 3. error
# 4. function
# 5. classes
# 6. library

In [ ]:
# Suites in python

# statement:
#     content
#     content
# statement:
#     content 
#     statement:
#         morecontent

In [ ]:
# conditional statement
# 1. else,if,elif
# Looping
#  while-else,for-else,continue/break
# error handling
#  try-except,else-finally
# user defined functions
#  def
# classes
#  class

In [ ]:
a=20
while a>0:
    print("hello",a)
    a-=3
    if(a==11):
        break
    else:
        continue
        print('one more')
else:
    print('hiii')

In [1]:
for i in range(1,11):
   print(i * '*')

*
**
***
****
*****
******
*******
********
*********
**********

In [26]:
# for(int i=0;i<10;i++){
#     something print
# }

In [2]:
a=[4,'hi','nice',5]
b=[]
for i in range(len(a)):
    b.append(a[i]*2)
b

[8, 'hihi', 'nicenice', 10]

In [3]:
a=[4,'hi','nice',5]
b=[]
for val in a:
    b.append(val*2)
b

[8, 'hihi', 'nicenice', 10]

In [5]:
#comprehensions
# for-loop statement which are of one liner

#list comprehension
     #[output for-loop]
     #[output for-loop if-condition]-filter
#dictionary comp.
     #{key_op:value_op for-loop}
# set comp.
#  {output for-loop}     
#geneator comp.
     #(output for-loop)


b=[val*2 for  val in a ]
b

[8, 'hihi', 'nicenice', 10]

In [6]:
k=[4,5,6,88,9,34,22]

In [7]:
p=[val for val in k if val%2==0]
p

[4, 6, 88, 34, 22]

In [10]:
q=[val for val in k if val>1 and val%2!=0]
q

[4, 6, 88, 34, 22]

In [ ]:
# a>5? yh kar do:nahi yh kar do
# yh kar do if-cond else yh kar do

In [13]:
p=[val*2 if val%2==1 else val//2 for val in k ]
p

[2, 10, 3, 44, 18, 17, 11]

In [16]:
p=[val*2 if val%2!=0 else (val//2 if val<20 else val) for val in k]
p

[2, 10, 3, 88, 18, 34, 22]

In [17]:
k

[4, 5, 6, 88, 9, 34, 22]

In [19]:
m={val:val**2 for val in k if val%2==0}
m

{4: 16, 6: 36, 88: 7744, 34: 1156, 22: 484}

In [21]:
for i in m.items():
    print(i)

(4, 16)
(6, 36)
(88, 7744)
(34, 1156)
(22, 484)

In [ ]:
# USER define funcions
# def function_name():

#calling function_name()
# function_name


#''' ''' use for create doc. strings about function

In [22]:
def function():
    '''
    hel someone'''
    print("i am happy")

In [23]:
function()

i am happy

In [24]:
function

In [33]:
def fun(val1,val2):
    # print('hiii') always come one time
    return val1*val2

In [28]:
fun(4,7)

28

In [29]:
fun(val2=44,val1=33) # allow to do name parameter pass

1452

In [31]:
#fun(val2=6,3) unnamed then pass  #default value is always in right side and the fill full and function is calling is always in right side
fun(2,val2=3)

6

In [39]:
def kuch(x=10,*v,**u): #*v create tuple **u create dict
    return[i*x for i in v],u

In [40]:
kuch(3,4,5)

([12, 15], {})

In [41]:
kuch(3,4,5,somedata=[6,7,8]) #direct data go to args(arguments) and with name then go to kwargs(keywordargument)

([12, 15], {'somedata': [6, 7, 8]})

In [42]:
kuch(3,4,5,somedata=[6,7,8],k=[2])

([12, 15], {'somedata': [6, 7, 8], 'k': [2]})

In [ ]:
#python function can be
# 1. assigned as a value
# 2. taken as input argument in another function
# 3. defined inside another function
# 4. return a function as input from another function

In [1]:
def abc():
 print('hi')

In [2]:
abc()

hi

In [3]:
k=abc

In [4]:
k

In [5]:
abc

In [6]:
k()

hi

In [7]:
def xyz(f):
    f()

In [8]:
xyz(k)

hi

In [9]:
def pqr():
    def qpr():
        print('hello')
    return qpr

In [10]:
x=pqr()
x

In [11]:
x()

hello

In [ ]:
# annonymous function-lambda expressions
# lambda inp_args:output(returned)

#its always one-linear
#always return
#input argument can br multiple,optional,keyword,named ,etc
#output can br simple/conditional/comptrhension,etc

In [12]:
def double(x):
    return x*2
m=double(34)
print(m)

68

In [13]:
double_l=lambda x:x*2
double_l

In [14]:
double_l(34)

68

In [16]:
oddeve=lambda x:'Odd' if x%2 else 'Even'
oddeve(4)

'Even'

In [17]:
k=lambda : print('hi')
k1=k

In [18]:
m=k()
print(m)

hi
None

In [ ]:
#scope of variable
#global
#local
#nonlocal

In [20]:
x=10

def abc():
    global x
    x=30
    #print(x)

print(x)
abc()
print(x)

10
30

In [22]:
x=10

def abc():
    x=30
    y=10
    def xyz():
        nonlocal y #for come outside the function
        y=28
        print('from xyz',x)
    xyz()
    print(y)

print(x)
abc()
print(x)

10
from xyz 30
28
10

In [23]:
import pandas

ModuleNotFoundError: No module named 'pandas'

In [24]:
import pandas