In [1]:
a=10
b=2
c=a/b
print(c)

5.0

In [52]:
# operator
 # 1 arithmetic + - * // ** %
 # 2 relational == != >
 # 3 assignment = += -=
 # 4 logical and or not
 # 5 membership in , not in
 # 6 bitwise &,|,^,~,<<,>>
 # identify is, is not
# data type/data clases
 # numeric int,float,complex
 # sequences str   immutable collection of character '' "" ''' '''
     #  []     list  mutable & coll of hetr element
     #  ()     tuple immutable
# mapping
  # {} dict mutable & structured
#Set
 #   {} set unordered
# boolean 
  # bool :true false(anything non zero or empty)
# empty data
# data operations(coolections)
 #1.item accessing(indexing/slicing/subscripting)
 #2.item insertion
 #3.item assignment   (mutable only)
 #4.item deletion    (mutable only)
  
# operator overloading : +,* (str,list ,tuple)
  #                    +=


# (*ags and **kwags)


# data type built in functions
#str:upper,lower,find,split,strip,join, format,count
#list:append,sort,count,copy,insert,remove,index,pop
#tuple:count,index
#dict:keys,values,update,get,pop
#set:add,difference,union,pop,revome

In [ ]:
# 1. no input and no output args
# 2. input args but not output args
# 3. no input but output args are there
# 4. both are there

# a. in-place(self update)
# b. non in-place

In [2]:
a=34
b=3.4
c=3+4j
d='str'
e=[3,4,5]
f=(3,4,5)
g={3:[4,5]}
h={4,5,6}

In [29]:
'Star'.join('war')
'#'.join('hi new string'.split())
'hi new string'.replace(' ','@')

'hi@new@string'

In [34]:
a=10
b=20

#format specification
z='value of a and b is %d and %d'%(a,b)

#using format function
z='value of a and b is {} and {}'
z=z.format(a,b)
#z='value of a and b is {} and {}'.format(a,b)
z1='value of a and b is {0} and {1} and {0}'
z1=z1.format(a,b)

#using f-string
f'anything'
zf=f'value of data a and b is {a} and {b} and {a}'
zf

'value of data a and b is 10 and 20 and 10'

In [37]:
e.append(33)
e

[3, 4, 5, 33, 33]

In [39]:
e1=['good','wow','hi']
e1.sort(key=len)
e1

['hi', 'wow', 'good']

In [41]:
f1=list(f)
f1.sort(reverse=True)
f2=tuple(f1)
f2

(5, 4, 3)

In [42]:
g['a']=44
g

{3: [4, 5], 'a': 44}

In [43]:
list(g.keys())[0]

3

In [44]:
g.get('Z','oh no')

'oh no'

In [26]:
d.count()

TypeError: count() takes at least 1 argument (0 given)

In [5]:
d1=d.upper()
print(d)
print(d1)

str
STR

In [1]:
s='456ji0'
a=[4,6,8,'hi',3.4]
b=(4,6,8,'hi',3.4)
c={4:6,8:['hi',3.4]}
d={4,6,8,'hi',3.4}

In [5]:
type(s),type(a),type(b),type(c),type(d)

(str, list, tuple, dict, set)

In [6]:
len(s),len(a),len(b),len(c),len(d)

(6, 5, 5, 2, 5)

In [44]:
# item assignmnet
#s[0]='A' # mutable
#a[0]='A' # immutable change
#b[0]='A' # immutable not change
# c[4]=44 #done

## item deletion
#del s[0] #not possible
#del a[0] #done
#del b[0]  #not done
#del c[4] #done

{8: ['hi', 3.4], 44: [45, 'sss']}

In [45]:
bool('False')

True

In [48]:
print(bool(' '),bool([]),bool(()),bool(-1),bool(45)),bool([()])

True False False True True

(None, True)

In [7]:
'hi'+'hello'

'hihello'

In [8]:
[4,3]+[5,6]

[4, 3, 5, 6]

(4,5)+(6,8)

In [10]:
{3:4}+{4:5}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [12]:
'hi'*3

'hihihi'

In [13]:
s +='K'# recreate
s

'456ji0K'

In [15]:
s[:3]

'456'

In [16]:
s[3:]

'XYZji0K'

In [14]:
s=s[:3]+'XYZ'+s[3:]
s

'456XYZji0K'

In [17]:
a

[4, 6, 8, 'hi', 3.4]

In [22]:
a=a[:2]+[39]+a[2:]
a += ['bye']
a

[4, 6, 39, 39, 39, 39, 39, 8, 'hi', 3.4, 'b', 'y', 'e', 'b', 'y', 'e', 'bye']

In [23]:
b=b[:2]+[39]+b[2:]

TypeError: can only concatenate tuple (not "list") to tuple

In [24]:
a

[4, 6, 39, 39, 39, 39, 39, 8, 'hi', 3.4, 'b', 'y', 'e', 'b', 'y', 'e', 'bye']

In [26]:
b+=('bye',)
b

(4, 6, 8, 'hi', 3.4, 'bye', 'bye')

In [27]:
(*b,*b)

(4, 6, 8, 'hi', 3.4, 'bye', 'bye', 4, 6, 8, 'hi', 3.4, 'bye', 'bye')

In [28]:
(*a,*b,*s) # convert the tuple *

(4,
 6,
 39,
 39,
 39,
 39,
 39,
 8,
 'hi',
 3.4,
 'b',
 'y',
 'e',
 'b',
 'y',
 'e',
 'bye',
 4,
 6,
 8,
 'hi',
 3.4,
 'bye',
 'bye',
 '4',
 '5',
 '6',
 'X',
 'Y',
 'Z',
 'j',
 'i',
 '0',
 'K')

In [29]:
c[44]=[45,'sss']
c

{4: 6, 8: ['hi', 3.4], 44: [45, 'sss']}

In [30]:
c2={'a':42,'b':32}
print(c)
print(c2)

{4: 6, 8: ['hi', 3.4], 44: [45, 'sss']}
{'a': 42, 'b': 32}

In [31]:
{**c,**c2} # ** treate as dict

{4: 6, 8: ['hi', 3.4], 44: [45, 'sss'], 'a': 42, 'b': 32}

In [32]:
8//3

2

In [6]:
2**2

4

In [18]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [17]:
list

list

In [16]:
len(t)

6

In [14]:
t=[4,6,'hi','go',3.4j,[3.8]]
type(t)

list

In [13]:
k=3+4j
type(k)

complex

In [12]:
a=10
b=20
c=10
print(id(a),id(b),id(c))

2951661748752 2951661749072 2951661748752

In [11]:
print(13 & 6)

4

In [10]:
'n' not in 'Name'

True

In [1]:
from keyword import kwlist
kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [2]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [4]:
p=print('hi')

hi

In [5]:
a=35

In [6]:
a

35

In [7]:
del a

In [8]:
a

NameError: name 'a' is not defined

In [9]:
2**3

8

In [ ]:
# slicing s[start:stop:stepsize]
# s[0:end:+1]
# s[end:0:-ve]

In [19]:
s='A simple program'
s

'A simple program'

In [21]:
s[2]

's'

In [20]:
s[-2]

'a'

In [22]:
s[2:7:1]

'simpl'

In [23]:
s[7::-1]

'elpmis A'

In [24]:
s[:-7:-1]

'margor'

In [25]:
s[:-8:-1]

'margorp'

In [26]:
s[::-1]

'margorp elpmis A'

In [27]:
p=[45,[[[['1','01'],9],34]]]

In [28]:
len(p)

2

In [9]:
p

NameError: name 'p' is not defined

In [8]:
p

NameError: name 'p' is not defined

In [35]:
d={'a':34,'b':45,'c':[3,4,5,6,7]}

In [36]:
d['c'][2]

5

In [37]:
d1=[{'a':34},66,{'66':[{'00':[98,'hi']},'awesome',{'m':'n'}]}]

In [38]:
len(d1)

3

In [39]:
d1['00']

TypeError: list indices must be integers or slices, not str

In [43]:
d1[1]

66

In [49]:
d1[2]['66'][1][0]

'a'

In [50]:
d1[0]

{'a': 34}

In [51]:
d1[1]

66

In [52]:
d1[2]

{'66': [{'00': [98, 'hi']}, 'awesome', {'m': 'n'}]}

In [53]:
d1[2][1]

KeyError: 1

In [54]:
d1[2][0]

KeyError: 0

In [55]:
d1[2]['00']

KeyError: '00'